<head>
    <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 100px;
    }
  </style>
</head>

<div class="page-header">
  <h1>
    Recipes
    <a class="btn btn-lg btn-success" href="/recipes/new"><i class="fa fa-plus"></i></a>
  </h1>

      <%= search_form_for @q do |f| %>

     <div class="form-group">
        <%= f.label :ingredient_name_cont %>
        <%= f.select :ingredient_name_eq, options_from_collection_for_select(Ingredient.all, :id, :name, @q.ingredient_name_eq), { :include_blank => true }, :class => "form-control" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block" %>

    <% end %>


    <%#= content_tag :table do %>
    <%#= content_tag :th, sort_link(@ingredient, :recipe_name) %>

    <%# end %>
    <div class="form-group">

    </div>

<% @recipes.each do |recipe| %>
 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <p><%= recipe.name %></p>
        </h3>
      </div>
      <div class="panel-body">
        <p><%= recipe.cuisine_type %></p>
        <p><%= recipe.cooking_method %></p>
        <p><%= recipe.cooking_time %></p>
        <div class="btn-group btn-group-justified">
          <a class="btn btn-primary" href="/recipes/<%= recipe.id %>"><i class="fa fa-search-plus"></i></a>

          <a class="btn btn-warning" href="/recipes/<%= recipe.id %>/edit"><i class="fa fa-edit"></i></a>
          <a data-confirm="Do you really want to delete this idea?" class="btn btn-danger" rel="nofollow" data-method="delete" href="/delete_recipe/<%= recipe.id %>"><i class="fa fa-trash-o"></i></a>
        </div>

      </div>
    </div>

  </div>
  <% end %>
</div>

