<div class="page-header">
  <h3>Edit Recipe #<%= @recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_recipe/<%= @recipe.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>
        <input type="text" id="title" name="name" placeholder="Name" class="form-control" value="<%= @recipe.name %>">
      </div>

      <!-- Label and input for cuisine_type -->
      <div class="form-group">
        <label for="cuisine_type" class="control-label">
          Cuisine Type
        </label>
        <input type="text" id="cuisine_type" name="cuisine_type" placeholder="cuisine_type" class="form-control" value="<%= @recipe.cuisine_type %>">
      </div>

      <!-- Label and input for cooking_method -->
      <div class="form-group">
        <label for="cooking_method" class="control-label">
          Cooking method
        </label>
        <input type="text" id="cooking_method" name="cooking_method" placeholder="cooking_method" class="form-control" value="<%= @recipe.cooking_method %>">
      </div>

      <!-- Label and input for cooking_time -->
      <div class="form-group">
        <label for="cooking_time" class="control-label">
          Cooking Time
        </label>
        <input type="text" id="cooking_method" name="cooking_time" placeholder="cooking_method" class="form-control" value="<%= @recipe.cooking_time %>">
      </div>

       <!-- Label and input for source_url -->
      <div class="form-group">
        <label for="source_url" class="control-label">
          Ingredients
        </label>
          <ul class="list-group">
          <% @recipe.quantities.each do |ingredient| %>
          <li class="list-group-item">
            <%= ingredient.ingredient.name %> (<%= ingredient.quantity %>)
          </li>
          <% end %>

      </div>

      <!-- Label and input for source_url -->
      <div class="form-group">
        <label for="source_url" class="control-label">
          Source URL
        </label>
        <input type="text" id="source_url" name="source_url" placeholder="source_url" class="form-control" value="<%= @recipe.source_url %>">
      </div>

      <button class="btn btn-warning">
        Update Recipe
      </button>
      or
      <a href="/recipes/<%= @recipe.id %>">Cancel</a>
    </form>
  </div>
</div>
