<html>

<div class="jumbotron">
  <h2>
  Ready to start cooking?
  </h2>
</div>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 200px;
    }
  </style>
  </head>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row" height="30%">
            <div class="col-md-4"></div>
            <div class="col-md-3">
                 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field" class="form-group" >
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="field" class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>

              <div class="actions" class="form-group">
                <%= f.submit "Log in" %>
              </div>
              <% end %>

             <%= render "devise/shared/links" %>


            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3"></div>
            <div class="col-md-4"></div>
        </div>
      </div>
